.guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  gap: 5px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid #3a3a3c;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
}

.letterFilled {
  border-color: #565758;
}

.letterSubmitted {
  border-color: transparent;
}
